page-notificaciones-admin {
    .content {
        background: #00061e;
    }
    .bordes {
        background: #00061e;
        border-bottom: solid #76ff03;
    }
    .titulo {
        color: #ffffff;
    }
    .letras {
        color: #d2e4b5;
    }
    //<ion-item no-lines style="text-align: center;background: #00061e">
}