page-modal-crear-alumno {
    .content {
        background: #00061e;
    }
    .list {
        background: #00061e;
    }
    .item {
        background: #00061e;
        border-bottom: solid #76ff03;
    }
    .label {
        color: #ffffff;
    }
    .input {
        color: #d2e4b5;
    }
    .select {
        color: #d2e4b5;
    }
    .h2 {
        color: #ffffff;
    }
    .p {
        color: #d2e4b5;
    }
    //<ion-item no-lines style="text-align: center;background: #00061e">
}