page-login {
    .login-content {
        background: #00061e;
        height: 100%;
        width: 100%;
        img {
            padding-top: 10%;
            padding-bottom: 10%;
        }
        .login-box {
            background: #00061e;
            padding: 0px 0px 0px 0px;
            margin-top: 0%;
            height: 56%;
            border-radius: 10px !important;
            border: 2px solid #76ff03;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 10px !important;
            padding-left: 10px !important;
            font-size: 0.9em;
            margin-bottom: 5px;
            border: 1px solid #76ff03;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #76ff03 !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: #8ac728;
            border-radius: 10px !important;
            border: 1px solid #00061e;
        }
        .register-btn {
            background: #8ac728;
            border-radius: 10px !important;
            border: 1px solid #00061e;
        }
    }
}